* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
h1{
    
}
body{
    background-color:#84B179;
    text-align: center;
}
.container{
 height: 70vh;
 display: flex;
    
    justify-content: center;
    align-items: center
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 8vmin;
    color:#122e02 ;
    background: #ffffc7;

}

.reset{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background: #000;
    color: white;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background: #000;
    color: white;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}